<div class="row">
  <div class="col-md-8">
    <h1><%= @issue.name %></h1>
    <% if is_admin? %>
      <div class="btn-group" role="group" aria-label="...">
	<%= link_to 'Edit', edit_issue_path(@issue), class: 'btn btn-default' %>
	<%= link_to 'Delete', issue_path(@issue), method: :delete, class: 'btn btn-danger' %>
      </div>
    <% end %>
    <p><%= @issue.description %></p>
  </div>
</div>
